
body {
  background: #bfbebd;
}
button {
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #000;
  cursor: pointer;
  outline: none;
}

p {
  font-size: 20px;
}
span {
  color: #f00;
  font-weight: bold;
  font-size: 28px;
}